<form id="my-form" [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
  <p-panel header="Cadastro do Produto">
    <div style="text-align:center;margin-top:20px" *ngIf="submitted">
        Form Submitted
        <br>
        {{diagnostic}}
    </div>
    <div>
      <p>*campos obrigatórios</p>
    </div>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      
      <div class="ui-grid-row">
          <div class="ui-grid-col-3">
              Nome do Produto *:
          </div>
          <div class="ui-grid-col-6">
              <input id="name" type="text" pInputText formControlName="name" placeholder="Obrigatório" maxlength="50">
          </div>
          <div class="ui-grid-col-4">
              <p-message severity="error" 
                        [text]="
                          productForm.controls['name'].errors['required'] ? 'Nome do produto é obrigatório' : 
                          productForm.controls['name'].errors['maxlength'] ? 'Não deve ter mais que 50 caracteres' : 
                          productForm.controls['name'].errors['pattern'] ? 'Nome do produto deve ter apenas letras' : 
                          ''"  
                        *ngIf="!productForm.controls['name'].valid&&productForm.controls['name'].dirty"></p-message>
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-3"></div>
          <div class="ui-grid-col-6">
            <p-checkbox type="checkbox" ng-model="product.isPerishable" label="Produto perecível? *" binary="true" formControlName="isPerishable"></p-checkbox>
          </div>
          <div class="ui-grid-col-4"></div>
      </div>
      
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                    Unidade de medida *:
                </div>
                <div class="ui-grid-col-6">
                  <p-dropdown id="unit" [options]="units" formControlName="unit" [autoWidth]="false" [(ngModel)]="selectedUnit"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <!-- <p-message severity="error" text="Nome do Produto é obrigatório" *ngIf="!productForm.controls['firstname'].valid&&productForm.controls['firstname'].dirty"></p-message> -->
                </div>
            </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-3">
              Quantidade :
          </div>
          <div class="ui-grid-col-6" [ngSwitch]="selectedUnit">
              <div class="ui-inputgroup" *ngSwitchCase="'Lt'">
                  <input currencyMask id="quantity" pInputText formControlName="quantity" [options]="{ prefix: ' ', thousands: '.', decimal: ',', allowNegative: 'false', precision: '3'}">
                  <span class="ui-inputgroup-addon">Lt</span>
              </div>
              <div class="ui-inputgroup" *ngSwitchCase="'Kg'">
                <input currencyMask id="quantity" pInputText formControlName="quantity" [options]="{ prefix: ' ', thousands: '.', decimal: ',', allowNegative: 'false', precision: '3'}">
                <span class="ui-inputgroup-addon">Kg</span>
              </div>
              <div class="ui-inputgroup" *ngSwitchCase="'Un'">
                <input currencyMask id="quantity" pInputText formControlName="quantity" [options]="{ prefix: ' ', thousands: '.', allowNegative: 'false', precision: '0'}">
                <span class="ui-inputgroup-addon">Un</span>
              </div>
              <input id="quantity" type="number" pInputText formControlName="quantity" *ngSwitchDefault disabled>
          </div>
          <div class="ui-grid-col-4">
              <!-- <p-message severity="error" text="Nome do Produto é obrigatório" *ngIf="!productForm.controls['firstname'].valid&&productForm.controls['firstname'].dirty"></p-message> -->
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-3">
              Preço *:
          </div>
          <div class="ui-grid-col-6">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">R$</span>
                <input currencyMask id="price" pInputText formControlName="price" placeholder="Obrigatório" [options]="{ prefix: ' ', thousands: '.', decimal: ',', allowNegative: 'false' }"/>
              </div>
          </div>
          <div class="ui-grid-col-4">
              <!-- <p-message severity="error" text="Nome do Produto é obrigatório" *ngIf="!productForm.controls['firstname'].valid&&productForm.controls['firstname'].dirty"></p-message> -->
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-3">
              Data de Fabricação *:
          </div>
          <div class="ui-grid-col-6">
            <p-calendar id="manifacture" type="date" name="manifacture" dateFormat="dd/mm/yy" formControlName="manifactureDate" placeholder="Obrigatório"></p-calendar>
          </div>
          <div class="ui-grid-col-4">
              <!-- <p-message severity="error" text="Nome do Produto é obrigatório" *ngIf="!productForm.controls['firstname'].valid&&productForm.controls['firstname'].dirty"></p-message> -->
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-3">
              Data de Validade *:
          </div>
          <div class="ui-grid-col-6">
              <p-calendar id="expiration" type="date" ng-required="product.isPerishable" formControlName="expirationDate" dateFormat="dd/mm/yy" placeholder="Obrigatório se perecível" #expiration (onFocus)="teste"></p-calendar>
          </div>
          <div class="ui-grid-col-4">
              <!-- <p-message severity="error" text="Nome do Produto é obrigatório" *ngIf="!productForm.controls['firstname'].valid&&productForm.controls['firstname'].dirty"></p-message> -->
          </div>
      </div>

      <div class="ui-grid-row">
          <div class="ui-grid-col-3"></div>
          <div class="ui-grid-col-3">
            <button pButton type="submit" label="Salvar" [disabled]="!productForm.valid" class="ui-button-raised ui-button-rounded ui-button-secondary"></button>
          </div>
          <div class="ui-grid-col-3">
            <button pButton routerLink="" label="Cancelar" class="ui-button-raised ui-button-rounded ui-button-secondary"></button>
          </div>
          <div class="ui-grid-col-4"></div>
      </div>

    </div>
  </p-panel>
</form>


