<div class="ui-g">
  <div class="ui-lg-12 ui-md-12 ui-sm-12 center-login">
    <p-panel header="Cadastro do Produto">
      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <h3>Nome do produto</h3>
          <input id="name" type="text" pInputText size="30" required [(ngModel)]="model.name">
        </div>
        
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <p-checkbox type="checkbox" ng-model="product.isPerishable" required [(ngModel)]="model.isPerishable" label="Produto perecível?" binary="true"></p-checkbox>
        </div>
  
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <h3>Quantidade</h3>
          <input id="quantity" type="number" pInputText size="30"  [(ngModel)]="model.quantity">
        </div>

        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <h3>Unidade de medida</h3>
          <p-dropdown id="unit" [options]="units" required [(ngModel)]="model.unit" optionLabel="name" placeholder="Selecione uma opção"></p-dropdown>
        </div>
  
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <h3>Preço</h3>
          <input id="price" type="number" pInputText size="30" required [(ngModel)]="model.price">
        </div>
  
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <h3>Data de validade</h3>
          <p-calendar id="expiration" type="date" ng-required="product.isPerishable" [(ngModel)]="model.expirationDate" dateFormat="dd/mm/yy"></p-calendar>
        </div>
  
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <h3>Data de fabricação</h3>
          <p-calendar id="manifacture" type="date" required [(ngModel)]="model.manifactureDate" name="manifacture" dateFormat="dd/mm/yy"></p-calendar>
        </div>
  
        <button pButton type="submit" label="Salvar" class="ui-button-raised ui-button-rounded ui-button-secondary"></button>
        <button pButton routerLink="" label="Cancelar" class="ui-button-raised ui-button-rounded ui-button-secondary"></button>

      </div>
    </p-panel>
  </div>
</div>


