<input type="text" pInputText placeholder="Busca" #search>   
<button pButton type="button" icon="pi pi-search"></button>

<p-messages [value]="msgs"></p-messages>

<p-table [columns]="cols" [value]="tableProducts">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr> 
  </ng-template>
  <ng-template pTemplate="body" let-product let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <p *ngIf="col.isCurrency">{{ product[col.field] | currency:'BRL':'symbol':'1.2-2':'pt' }}</p>
        <p *ngIf="col.isBoolean">{{ product[col.field] | boolean }}</p>
        <p *ngIf="col.isDate">{{ product[col.field] | date:'dd/MM/yy' }}</p>
        <p *ngIf="col.isGeneral">{{ product[col.field] }}</p>
      </td>
      <!-- edit button -->
      <button pButton [routerLink]="['/produtos', product.id]" icon="pi pi-pencil" class="ui-button-icon ui-button-raised ui-button-rounded ui-button-secondary"></button>
      <!-- delete button -->
      <button pButton (click)="confirm(product)" icon="pi pi-times-circle" class="ui-button-raised ui-button-rounded ui-button-secondary"></button>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
