.page-layout > div {
  background-color: #cce4f7;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #ffffff;
}


.page-layout {
  margin: 0;
}



